* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {

    font-size: 62.5%;
}

body {

    font-family: 'Roboto', sans-serif;
}

.header {

    
    width: 100%;
    min-width: 150px;
    height: 130px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px;
    background-color: #333;
}

.header__logo {

    padding: 9px;
}

.header__logo img {

    width: 9.5rem;
    background-color: #ffff;
    
    
}

.nav__list {

    display: flex;
    margin-top: 10px;
    list-style: none;
    
}

.nav li {

    margin: 0 20px;
   
}

.nav__list li a {

    
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    
    
}

.section {

    width: 100%;
    padding: 10px 20px;
    text-align: center;
}


.figure__guitar {

    width: 100%;
    max-width: 500px;
    margin: 0 auto 15px;
}

.aside {

    padding: 20px 10px;
    background-color: #D3D3D3;
    padding: 20px;
    text-align: center;
}

.text {

    margin-bottom: 5px;
    font-size: 1.5rem;
    color: #84734d;
    font-weight: bolder;
    
}

.product-figure__p {

    margin-bottom: 10px;
}

.product-figure img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 30rem;
    cursor: pointer;
    
}

.description__title h2 {
   
    font-size: 2rem;
    margin-top: 30px ;

}

.finish, .handedness {

    font-size: 1.2rem;
    margin-bottom: 20px;
}

.handedness {
    margin-bottom: 46px;
}

.desciption__row {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.figure__title, .figure__text {

    color: #2F4F4F;
}

.figure__title {

   
    font-size: 1.5rem;
}

.figure__text {

    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.5rem;
}

hr {
    margin-top: 3rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}


.finish-list  {

    
    margin-right: 20px;
}

.mt-3 {

    margin-top: 10px;
}

.color-option {

    width: 26px;
    height: 26px;
    border-radius: 50%;

}


.button {

    padding: 10px;
    background-color: #343a40;
    border-color: #343a40;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    border: none;
}

.span__button {

    color: #ffff;
    font-size: 1.2rem;
}

.shop {

    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}


.price {

    
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: bold;
}

.add-cart-button {

    display: block;
    width: 300px;
    border: none;
    text-decoration: none;
    margin-bottom: 15px;
    margin: 0 auto;
    padding: 10px;
    color: #ffff;
    background-color: #84734d;
}

.add-to-cart {

    font-size: 1.5rem;
    font-weight: bold;
}


.footer   {

  width: 100%;
  padding: 10px 20px;  
  text-align: center;
  align-items: center;
  background-color: #696969;

}

.email-capture {

    
    margin-bottom: 15px;
}

.email-capture__title {

    margin-bottom: 20px;
}

.black-button {

    
    margin-bottom: 15px;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 15px;
    color: #ffff;
    display: block;
    padding: 10px;
    width: 300px;
    text-decoration: none;
    justify-content: center;
    
}

.follow-us {

    margin-bottom: 15px;
    font-size: 1.5rem;
}

.social-media__logos {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.social-media__logos img {

    margin-right: 20px;
    cursor: pointer;
}


@media(min-width:768px) {


    .header {

        flex-direction: row;
        height: 100px;
    }

    .nav {

        margin: 0 auto;
    }

    .aside {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}


@media(min-width:1024px) {

  .header {

    height: 100px;
  }
   




  .nav__list li a {

    font-size: 1.5rem;
  }


   .section {

    display: flex;

   }

   #walnut {

    width: 27rem;
   }

  

   
 .description__title h2 {
    font-size: 3rem;
    margin-bottom: 30px;
 }

.finish, .handedness {

    font-size: 1.7rem;
    margin-bottom: 30px;
}

.handedness  {

    margin-top: -25px;
}

   .desciption__row {

    margin-bottom: 80px;
   }

  

   .figure__title {

    font-size: 2.5rem;
   }

   .figure__text {

    padding: 50px;
    font-size: 2.0rem;
    margin-top: -15px;
   }

   #walnut {

    width: 27rem;
   }

   .product-figure__span {

    font-size: 1.5rem;
   }

   .product-figure__p {

    font-size: 1.3rem ;
   }

   .email-capture__title {

    font-size: 1.5rem;
   }

   .suscribe {

    font-size: 1.2rem;
   }

   .terms-conditions__text {

    font-size: 1.1rem;
   }

   .footer__common-wrapper {

    display: flex;
    justify-content: space-evenly;
   }

}


    
